.g-virtual-list-container-parent{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
    background-color: var(--bg2A);
}

.red-btn{
    color: rgb(99, 15, 15);
    background-color: rgb(236, 99, 122);
}
.red-btn:hover{
    color: rgb(46, 6, 6);
    background-color: rgb(243, 183, 193);
}