html{
    font-size: calc(0.9vmax + 5px);
}
html, body, #app{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
}

#app{
    display: flex;
    flex-direction: column;
    position: relative;
}
/* RESET STYLE */
input {
    all: unset;
}
