html{
    font-size: calc(0.9vmax + 5px);
}
html, body{
    padding: 0;
    margin: 0;
}

#app{
    height: 130vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* RESET STYLE */
input {
    all: unset;
}
form{
    all:unset;
}