@import "./pokemon.css";

html{
    font-size: calc(0.9vmax + 5px);
}
html, body, #app{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
}

#app{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
span{
    margin: auto;
}

/* WEB SEMENTICS RESET STYLE AND CUSTOMIZATION*/
input {
    all: unset;
}
input[type='radio'], input[type='checkbox'] {
    appearance: none;
    background: #290f0f;
    outline: 2px solid #f8f8f8;
    border: 2px solid #744646;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
  
input[type='radio']:checked, input[type='checkbox']:checked {
    background: #f3b2b2;
}

input[type='text']{
    background-color: var(--font-color);
    color: var(--bg1);
    padding: 0.2em;
}
button, select{
    border-radius: calc(1px + 0.3vmax);
    border-width: calc(2px + 0.1vmax);
    border-style: solid;
    cursor: pointer;
}

button{
    all: unset;
    border-color: #1b1b1b;
    background-color: #a7a6a6;
    color: #181818;
}
button:hover{
    border-color: #222222;
    background-color: #f8f8f8;
    color: #303030;
}

a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}

select{
    font-size: 1em;
}

hr{
    all: unset
}

html, button, nav{
    color: var(--font-color);
}

/** UTILS **/
.red{
    color: #b40d0d;
}

/* Remove scrollbar */
.noscrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.noscrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

