
.normal{background-color: #aa9; color:rgb(44, 44, 39);}
.fire{background-color: #f42; color:rgb(73, 23, 14);}
.water{background-color: #39f; color:rgb(14, 32, 49);}
.electric{background-color: #fc3; color:rgb(49, 40, 11);}
.grass{background-color: #7c5; color: rgb(22, 51, 10);}
.ice{  background-color: #6cf; color: rgb(20, 63, 85);}
.fighting{background-color: #b54; color:rgb(54, 25, 20);}
.poison{background-color: #a59; color:rgb(43, 21, 38); }
.ground{background-color: #db5; color:rgb(48, 40, 19); }
.flying{background-color: #89f; color:rgb(22, 26, 44);}
.psychic{background-color: #f59; color:rgb(49, 16, 29);}
.bug{background-color: #ab2; color:rgb(42, 46, 9);}
.rock{background-color: #ba6; color:rgb(37, 34, 21);}
.ghost{background-color: #66b; color:rgb(23, 23, 41);}
.dragon{background-color: #76e; color:rgb(15, 13, 31);}
.dark{background-color: #754; color:rgb(37, 27, 21);}
.steel{background-color: #aab; color:rgb(27, 27, 31);}
.fairy{background-color: #e9e; color:rgb(32, 21, 32);}
.stellar{background-color: #0996bb; color:rgb(32, 21, 32);}

.normal-t{color: #aa9;}
.fire-t{color: #f42;}
.water-t{color: #39f;}
.electric-t{color: #fc3;}
.grass-t{color: #7c5;}
.ice-t{  color: #6cf;}
.fighting-t{color: #b54;}
.poison-t{color: #a59;}
.ground-t{color: #db5;}
.flying-t{color: #89f}
.psychic-t{color: #f59;}
.bug-t{color: #ab2;}
.rock-t{color: #ba6;}
.ghost-t{color: #66b;}
.dragon-t{color: #76e;}
.dark-t{color: #754;}
.steel-t{color: #aab;}
.fairy-t{color: #e9e;}
.stellar-t{color: #0996bb;}


/*Stats*/
/*
.hp{
   background-color: rgb(192, 33, 33);
   color: rgb(223, 145, 2); 
}
.atk{
    background-color: rgb(219, 173, 46);
    color: rgb(182, 41, 31); 
}
.def{
    background-color: rgb(106, 219, 83);
    color: orange; 
}
.spa{
    background-color: red;
    color: orange; 
}
.spd{
    background-color: red;
    color: orange; 
}
.spe{
    background-color: red;
    color: orange; 
}
.bst{
    background-color: red;
    color: orange; 
}*/